@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "__DM_Sans420ee6", "__DM_Sans_Fallback420ee6";
    --font-bjcredits: "__Lexend_Deca4f5fc0", "__Lexend_Deca_Fallback4f5fc0";
    --font-chakra: "__Chakra_Petch_e6c52c", "__Chakra_Petch_Fallback_e6c52c";
    --recommendation-background: 240 5.26% 26.08%;
    --recommendation-foreground: 60 9.09% 97.84%;
    --recommendation-image: url("https://cdn.bangjeff.com/meta/background.png");
    --popular-background: 240 5.26% 26.08%;
    --popular-foreground: 60 9.09% 97.84%;
    --popular-image: url("https://cdn.bangjeff.com/meta/background.png");

    --order-variant: 240 5.26% 26.08%;
    --order-variant-foreground: 60 9.09% 97.84%;
    --order-variant-image: url(https://cdn.bangjeff.com/meta/background.png);

    --auth-color: 24.58 94.98% 53.14%;
    --auth-gradient-from: 24.58 94.98% 53.14%;
    --auth-gradient-to: 349.72 89.16% 60.2%;

    --background: 240 5.88% 10%;
    --foreground: 60 9.09% 97.84%;
    --card: 240 5.26% 26.08%;
    --card-foreground: 60 9.09% 97.84%;
    --popover: 240 3.7% 15.88%;
    --popover-foreground: 60 9.09% 97.84%;
    --primary: 24.58 94.98% 53.14%;
    --primary-foreground: 60 9.09% 97.84%;
    --secondary: 240 10% 3.92%;
    --secondary-foreground: 60 9.09% 97.84%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 60 9.09% 97.84%;
    --accent: 225 3.28% 23.92%;
    --accent-foreground: 60 9.09% 97.84%;
    --success: 142.09 71.18% 44.9%;
    --success-foreground: 60 9.09% 97.84%;
    --warning: 45.2 93.31% 46.86%;
    --warning-foreground: 60 9.09% 97.84%;
    --info: 189.03 93.64% 43.14%;
    --info-foreground: 204 100% 97.06%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 60 9.09% 97.84%;
    --border: 240 5.26% 26.08%;
    --input: 240 5.26% 26.08%;
    --ring: 24.58 94.98% 53.14%;
    --radius: 0.5rem;
    --gradient-active: true;
    --gradient-dir: to bottom right;
    --gradient-from: #525468;
    --gradien-from-stop: 0%;
    --gradient-via: #18181b;
    --gradient-via-stop: 50%;
    --gradient-to: #09090b;
    --gradient-to-stop: 100%;
    --gradient-theme: linear-gradient(
      to bottom right,
      #525468 0%,
      #18181b 50%,
      #09090b 100%
    );
  }

  .dark {
    --background: 240 5.88% 10%;
    --foreground: 60 9.09% 97.84%;
    --card: 240 5.26% 26.08%;
    --card-foreground: 60 9.09% 97.84%;
    --popover: 240 3.7% 15.88%;
    --popover-foreground: 60 9.09% 97.84%;
    --primary: 24.58 94.98% 53.14%;
    --primary-foreground: 60 9.09% 97.84%;
    --secondary: 240 10% 3.92%;
    --secondary-foreground: 60 9.09% 97.84%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 60 9.09% 97.84%;
    --accent: 225 3.28% 23.92%;
    --accent-foreground: 60 9.09% 97.84%;
    --success: 142.09 71.18% 44.9%;
    --success-foreground: 136.36 73.33% 97.06%;
    --warning: 48 95.83% 52.94%;
    --warning-foreground: 60 9.09% 97.84%;
    --info: 198 93.14% 60%;
    --info-foreground: 204 100% 97.06%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 60 9.09% 97.84%;
    --border: 240 5.26% 26.08%;
    --input: 240 5.26% 26.08%;
    --ring: 24.58 94.98% 53.14%;
    --gradient-active: true;
    --gradient-dir: to bottom right;
    --gradient-from: 234.55 11.83% 36.47%;
    --gradien-from-stop: 0%;
    --gradient-via: 240 5.88% 10%;
    --gradient-via-stop: 50%;
    --gradient-to: 240 10% 3.92%;
    --gradient-to-stop: 100%;
    --gradient-stops: 0%, 50%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animated-spinner {
  transform-origin: center;
  animation: loader-spin 0.75s step-end infinite;
}
@keyframes loader-spin {
  8.3% {
    transform: rotate(30deg);
  }
  16.6% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.3% {
    transform: rotate(120deg);
  }
  41.6% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.3% {
    transform: rotate(210deg);
  }
  66.6% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.3% {
    transform: rotate(300deg);
  }
  91.6% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
